.cart__background {
    background-color: rgba(0, 0, 0, 0.5); 
    position: fixed;
    top: 0;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
}
/* CART CONTENT SECTION */
.cart__container {
    z-index: 2; 
    min-width: 620px;
    background-color: var(--color-white);
    padding: 50px 60px;
    display: flex;
    flex-direction: column;
}
.close_icon {
    width: 40px;
    height: 40px;
    margin-left: auto;
}
.cart__info {
    display: flex;
    justify-content: space-between;
    margin-top: 40px;
}
.cart__info_content {
    display: flex;
    align-items: center;
    gap: 45px;
}
.drink_image {
    height: 200px;
    /* margin-left: -190px; */
}

.cart__info_text {
    display: flex;
    flex-direction: column;
    /* margin-left: -150px;
    margin-top: -60px; */
}

.drinkName {
    font-size: 25px;
    font-weight: 800;
    text-align: left;
    white-space: nowrap;
    color: var(--color-black);
    margin-bottom: 20px;
}
.drinkOptions > p {
    color: var(--color-grey);
    font-weight: 400;
    font-size: 15px;
    text-align: left;
}
.price {
    font-weight: 400;
    font-size: 15px;
    text-align: left;
    margin-top: 40px;
}
.drinkButtons {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.drinkButtons_1 {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}
.drinkButtons_1 > button {
    width: 10px;
    border-radius: 50%;
    background-color: var(--grey-background);
    border: transparent;
}
.drinkButtons_1 img {
    height: 25px;
}
.drinkButtons_2 {
    display: flex;
    align-items: center;
    gap: 15px;
}
.drinkButtons_2 > button {
    height: 30px;
    width: 30px;
    border-radius: 50%;
    background-color: var(--grey-background);
    border: transparent;
    font-size: 22px;
}

/* NOTES */
.cart__note {
    margin: 50px 0 25px;
}
.cart__note button {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--color-cream);
    border-radius: 10px;
    width: 100%;
    padding: 18px 25px;
}

/* CHECKOUT BUTTON */
.cart__checkout {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--color-black);
    color: var(--color-white);
    border-radius: 10px;
    padding: 18px 50px;
    margin: 0 auto;
}