.aboutContainer {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.infoContainer {
  max-width: 70em;
  display: flex;
  flex-direction: row;
  gap: 10em;
}

.infoImage {
  width: 35%;
}

.aboutParagraph {
  max-width: 31em;   
}

.imageContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 5em;
  margin-bottom: 5em;
}

.memberImg {
  position: relative;
  width: 10em;
  height: 32em;
  margin: 0.3em;
  border-radius: 1em;
  background-size: cover;
  background-position: center;
  transition: width 0.5s;
}

.member {
  background-image: url(../images/assets/member.png);
}

.member1 {
  background-image: url(../images/assets/member1.png);
}

.member2 {
  background-image: url(../images/assets/member2.png);
}

.member3 {
  background-image: url(../images/assets/member3.png);
}

.member:hover, .member1:hover, .member2:hover, .member3:hover {
  width: 22em;
  cursor: pointer;
}

.memberDetail {
  display: flex;
  gap: 1em;
  position: absolute;
  bottom: 0;
  right: 0;
}

.memberName, .memberTitle {
  color: white;
}
.designIcon {
  color: white;
  font-size: 2em;
}