.aboutContainer {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.infoContainer {
  max-width: 70rem;
  display: flex;
  flex-direction: row;
  gap: 10rem;
}

.infoImage {
  width: 30%;
}

.aboutParagraph {
  max-width: 30rem;   
}