/* Landing Section */
.landingContainer{
    width: 100%;
}

/* First Row */

.firstRowGraphics{
    display: flex;
    width: 100%;
    flex-direction: row;
    align-items: center;
}

.bobaBox{
    width: 25%;
    display: flex;
    height: 194px;
    justify-content: center;
    padding: 54px 60px;
    background-color: var(--color-yellow);
    border-top: 2px solid var(--color-black);
    border-left: 2px solid var(--color-black);
    border-right: 2px solid var(--color-black);
    border-bottom: 2px solid var(--color-black);
}

.bubbleBox{
    display: flex;
    align-items: center;
    width: 100%;
    height: 194px;
    padding: 33px 38px;
    background-color: var(--color-pink);
    border-top: 2px solid var(--color-black);
    border-right: 2px solid var(--color-black);
    border-bottom: 2px solid var(--color-black);
    justify-content: center;
}

.upTextBox{
    width: 35%;
    height: 194px;
    display: flex;
    justify-content: center;
    padding: 31px 22px;
    background-color: var(--color-black);
    border-top: 2px solid var(--color-black);
    border-right: 2px solid var(--color-black);
    border-bottom: 2px solid var(--color-black);
}

.noodleBox{
    width: 35%;
    height: 194px;
    display: flex;
    padding: 0px 34px;
    border-top: 2px solid var(--color-black);
    border-left: 2px solid var(--color-black);
    border-right: 2px solid var(--color-black);
    border-bottom: 2px solid var(--color-black);
    justify-content: center;
}

/* Second Row */

.secondRowGraphics{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.starBox{
    width: 30%;
    height: 419px;
    display: flex;
    justify-content: center;
    padding: 42px 37px;
    border-left: 2px solid var(--color-black);
    border-right: 2px solid var(--color-black);
}

.secondRowColumn{
    display: flex;
    flex-direction: column;
    height: 419px;
    width: 55%;
    justify-content: center;
    align-items: center;
}

.yourDayBox{
    width: -webkit-fill-available;
    display: flex;
    height: 224px;
    padding: 40px 68px;
    background-color: var(--color-blue);
    border-right: 2px solid var(--color-black);
    border-bottom: 2px solid var(--color-black);
    justify-content: center;
}

.strawBox{
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    height: 224px;
    padding: 57px 32px;
    border-right: 2px solid var(--color-black);
    justify-content: center;
}

.makeDrink{
    height: 70px;
    width: 178px;
    padding-top: 20px;
    padding-left: 40px;
    text-transform: capitalize;
    background-color: #221F20;
    color: var(--color-white);
    border-top: 2px solid var(--color-black);
    border-left: 2px solid var(--color-black);
    border-bottom: 2px solid var(--color-black);
}

.makeDrink:hover{
    height: 70px;
    text-transform: capitalize;
    background-color: var(--color-pink);
    color: var(--color-white);
    transition: 1000ms ease-in-out ;
    border-top: 2px solid var(--color-black);
    border-left: 2px solid var(--color-black);
    border-bottom: 2px solid var(--color-black);
}

.arrowIcon{
    height: 70px;
    padding: 19px 26px;
    border: 2px solid var(--color-black);
}

.bubbleTeaBox{
    width: 30%;
    height: 419px;
    display: flex;
    padding: 33px 60px;
    background-color: var(--color-pink);
    border-right: 2px solid var(--color-black);
    justify-content: center;
}

/* Third Row */

.thirdRowGraphics{
    width: 100%;
}

.splashImage{
    border: 2px solid var(--color-black);
    width:100%;
}

/* Customize Section */

.customizeContainer{
    border: 2px solid black;
    width: 100%;
    margin-top: -54px;
    z-index: 2;
    position: absolute;
}

/* .pinkRectangle{
    width: 20%;
    height: 1051px;
    background-color: var(--color-pink);
    border-right: 2px solid var(--color-black);
    border-bottom: 2px solid var(--color-black);
} */

.customBackground{
    /* position: absolute; */
}

.drinksMenu{
    position: absolute;
    display: flex;
    flex-direction: row;
    align-items: baseline;
    z-index: 2;
    gap: 115px;
    margin-top: 200px;
}

.menuContainer{
    width: -webkit-fill-available;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--color-cream);
}
.drinkColumn{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.passionBox{
    width: 170px;
    height: 50px;
    font-size: 14px;
    font-weight: 600;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--color-blue);
    border: 2px solid var(--color-black);
}

.strawlychBox{
    width: 170px;
    height: 50px;
    font-size: 14px;
    font-weight: 600;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--color-pink);
    border: 2px solid var(--color-black);
}

.pandanBox{
    width: 170px;
    height: 50px;
    font-size: 14px;
    font-weight: 600;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--color-yellow);
    border: 2px solid var(--color-black);
}