.overlay {
    position: fixed;
    background-color: rgba(0, 0, 0, 0.5);
    width: 100%;
    height: 100vh;
    top: 0;
    overflow: hidden;
}

.boba__container {
    position: fixed;
    top: 0;
    right: 0;
    height: 100vh;
    overflow-y: scroll;
    background-color: var(--color-white);
    padding: 50px 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: var(--primary-font);
}

.close_icon {
    width: 40px;
    height: 40px;
    margin-left: auto;
}

/* BOBA INFO SECTION */
.boba_info__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 320px;
}

.drink_image {
    height: 300px;
}

.boba_info__container h3 {
    font-size: 36px;
    font-weight: 900;
    text-align: center;
}

.boba_info__container p {
    text-align: center;
}

.desc {
    width: 80%;
    margin-top: 20px;
}

.price {
    font-size: 22px;
    font-weight:900;
    margin-top: 20px;
    margin-bottom: 20px;
}

.amount_container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
}
.counter {
    font-size: 22px;
}
.amount_container > button {
    background-color: var(--color-cream);
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: none;
}

/* CUSTOMIZE SECTION */
.boba__container hr {
    width: 100%;
    border: 1px solid var(--color-black);
    margin: 80px 0 0;
}

.options {
    margin-top: 40px;
}
.options_button {
    display: flex;
    justify-content: space-between;
}
.options_button > button{
    background-color: var(--color-cream);
    border-radius: 10px;
    width: 130px;
    height: 70px;
}
.heading {
    font-size: 25px;
    text-align: left;
    margin-bottom: 15px;
}
.options_text {
    font-size: 22px;
    font-weight: lighter;
    display: flex;
    align-items: center;
    justify-content: center;
}
.price_change {
    color: var(--color-pink);
    font-size: 15px;
}
.options_button_Sweetness > button{
    background-color: var(--color-cream);
    /* border-radius: 10px; */
    width: 130px;
    height: 70px;
}

.options_Topping {
    margin-top: 40px;
    width: 520px;
}

.options_button_Topping {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 10px;
}

.options_button_Topping > button{
    background-color: var(--color-cream);
    /* border-radius: 10px; */
    width: 173px;
    height: 70px;
    margin-top: 0; 
    white-space: nowrap;
}

.options_text_button.selected {
    background-color: var(--color-yellow); 
    /* color: var(--color-black); */
}

/* ADD BUTTON */
.add_container {
    box-shadow: 0px -2px 300px var(--drop-shadow); 
    margin: 50px -100px 0 -110px;
    background-color: var(--color-white);
}
.add_container > button {
    width: 520px;
    height: 80px;
    background-color: var(--color-black);
    border-radius: 10px;
}
.add_container > button > p {
    font-size: 30px;
    color: var(--color-cream);
}
