.select > button{
    position: absolute;
    margin: -37px -77px;
    background-color: transparent;
    padding: 24px 75px;
    border: none;
    /* color: #000;  */
}

.container {
    position: fixed;
    top: 0;
    right: 0;
    height: 100vh;
    overflow-y: scroll; 
    background-color: var(--color-white);
    padding: 110px 100px 0 110px;
}

.close_icon {
    width: 40px;
    height: 40px;
    padding-left: 450px;
}

.drink_info {
    margin-top: 150px;
}

.drink_image {
    height: 300px;
}

.price {
    font-size: 22px;
    font-weight:900;
    padding: 10px;
}

.amount_container {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.counter {
    margin-top: 55px;
    font-size: 22px;
}

.amount_container > button {
    background-color: var(--color-cream);
    width: 40px;
    /* height: 40px; */
    border-radius: 50%;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
}

.hr {
    /* width: 500px; */
    border: 0;
    height: 1px;
    background: var(--color-black);
    margin-top: 40px;
}

.options {
    margin-top: 40px;
}

.options_button {
    display: flex;
    justify-content: space-between;
}

.options_button > button{
    background-color: var(--color-cream);
    border-radius: 10px;
    width: 130px;
    height: 70px;
}

.heading {
    font-size: 25px;
    text-align: left;
    margin-bottom: -35px;
}

.options_text {
    font-size: 22px;
    font-weight: lighter;
    display: flex;
    align-items: center;
    justify-content: center;
}

.price_change {
    color: var(--color-blue);
    font-size: 15px;
}

.options_button_Sweetness > button{
    background-color: var(--color-cream);
    /* border-radius: 10px; */
    width: 130px;
    height: 70px;
}

.options_Topping {
    margin-top: 40px;
    width: 520px;
}

.options_button_Topping {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 10px;
}

.options_button_Topping > button{
    background-color: var(--color-cream);
    /* border-radius: 10px; */
    width: 173px;
    height: 70px;
    margin-top: 0; 
    white-space: nowrap;
}

.options_text_button.selected {
    background-color: var(--color-yellow); 
    /* color: var(--color-black); */
}

.add_container {
    box-shadow: 0px -2px 300px var(--drop-shadow); 
    margin: 50px -100px 0 -110px;
    background-color: var(--color-white);
}

.add_container > button {
    width: 520px;
    height: 80px;
    background-color: var(--color-black);
    border-radius: 10px;
    margin-bottom: 40px;
}

.add_container > button > p {
    font-size: 30px;
    color: var(--color-cream);
}
