.container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 5em;
  margin-bottom: 10em;
}
.title {
  font-size: 2em;
  padding-bottom: 2em;
}
.testimonialCard {
  display: flex;
  flex-direction: row;
  height: 24em;
  justify-content: space-between;
  width: 75em;
  position: relative;
}
.cardInfo {
  max-width: 20.8125em;
  height: 32em;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 1em;
  background-image: url('../../images/assets/backgroundImg.png');
  background-repeat: no-repeat;
}
.userImage {
  width: 10em;
  border-radius: 5em;
  margin: 1.2em 0;
  border: 3px solid #aea085;
}
.userName {
  font-size: 1.3em
}
.userEmail {
  font-size: 0.75em;
  color: #607D8B;
}
.comments {
  background-color: #F2E9D9;
  margin: 1.8em 1.8em;
  padding: 1em;
  border-radius: 10px;
  text-align: center;
}