.container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 5em;
}
.title {
  font-size: 5em;
}
.testimonialCard {
  display: flex;
  flex-direction: row;
  height: 24em;
  justify-content: space-between;
  width: 75em;
}
.cardInfo {
  max-width: 20.8125em;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 1em;
  background-image: url('../../images/assets/backgroundImg01.png');
  background-repeat: no-repeat;
}
.comments {
  background-color: aliceblue;
  margin: 3em;
  padding: 1em;
  border-radius: 10px;
}