:root {
	/* colours */
	--color-white: #FFFFFF;
	--color-black: #1E1E1E;
	--color-yellow: #F8BE38;
	--color-pink: #F892CA;
	--color-blue: #B6E2F2;
	--color-cream: #F5EAD9;

    /* used for the menu */
	--color-lightyellow: #FFDF98;
	--color-lightpink: #FEC7DB;
	--color-lightblue: #B6E2F2;
	--color-shadedyellow: #F0BF54;
	--color-shadedpink: #E194B0;
	--color-shadedblue: #9EC3D0;

	/* used for CustomizeDrinks */
	--drop-shadow: #BDBDBD;
	
	/* Fonts */
  --primary-font: 'Nunito', sans-serif;;
  --secondary-font: 'Cherry Bomb One', sans-serif;
  --body-font-size-desktop: 16px;
}

* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}
html,
body {
	scroll-behavior: smooth;
	margin: 0;
	font-family: var(--primary-font);
	font-size: var(--body-font-size-desktop);
	color: var(--color-black);
}
a {
	color: inherit;
	text-decoration: none;
	cursor: pointer;
}
button {
	font-family: var(--primary-font);
	border: none;
	background-color: transparent;
	cursor: pointer;
}
